<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta: Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- End of Meta: Basic -->

		<!-- Meta: Mobile -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- End of Meta: Mobile -->

		<!-- Meta: Site -->
		<title>Hidden Pool | Web,IT projects</title>
<!--		<meta name="keywords" content="">-->
<!--		<meta name="description" content="">-->
<!--		<meta name="author" content="">-->
		<!-- End of Meta: Site -->
		<script type="text/javascript">
			timerStart = Date.now();
        </script>
		<!-- Meta: Basic Images -->
		<meta property="og:image" content="assets/img/og-image.jpg">
		<!-- End of Meta: Basic Images -->
		<meta name="apple-mobile-web-app-title" content="HiddenPool">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/fav/favicon-16x16.png">
		<link rel="manifest" href="assets/img/fav/site.webmanifest">
		<link rel="mask-icon" href="assets/img/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/main.min.css?v=1.1">
		<!-- End of Styles -->

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Meta: Mobile Bar Color -->
		<meta name="theme-color" content="#3A2DB0">
		<meta name="msapplication-navbutton-color" content="#2729FF">
		<meta name="apple-mobile-web-app-status-bar-style" content="#2729FF">
		<!-- End of Meta: Mobile Bar Color -->
		<meta name="yandex-tableau-widget" content="logo=http://hiddenpool.tech/assets/img/tableau-logo.png, color=#3A2DB0" />

	</head>














<!--	<body>-->
<!--		<div id="preloader"></div>-->
<!--		<div class="section general-wrapper">-->
