<!-- Section: Hero Slider -->
<section class="section hero-slider style-padding mb-d">
	<div class="items hero-slider-slick">
		<div class="item" style="background-image: url('assets/img/hero-slide-1.png')">
			<div class="image">
				<img src="assets/img/hero-slide-1.png" alt="">
			</div>
		</div>
		<div class="item" style="background-image: url('assets/img/hero-slide-2.png')">
			<div class="image">
				<img src="assets/img/hero-slide-2.png" alt="">
			</div>
			<div class="content">
				<div class="title">Hidden Pool — Big Family, I like</div>
				<div class="toggles">
					<div class="toggle left">
						<img src="assets/img/icons/icons-arrow-left-blue.svg" alt="">
					</div>
					<div class="subtitle">Oh, no. It's only in our mind.</div>
					<div class="toggle right">
						<img src="assets/img/icons/icons-arrow-right-blue.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Section: Hero Slider -->