<!-- Section: Header -->
<header class="section header">
	<div class="header-inner">
		<div class="hg">
			<img src="assets/img/waves-2.svg" alt="image">
		</div>
		<!-- Logo -->
		<div class="logo">
			<a href="/index.html">
				<img src="assets/img/logo-2.svg" width="140px" alt="image">
			</a>
			<a href="#">RU</a>
		</div>

	<!-- End of Logo -->

	<!-- Navigation -->
	<div class="navigation">
		<button class="toggle-menu">
				<span class="open">
						<svg class="cicrle-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="36px" height="36px" viewBox="0 0 32 22.5" enable-background="new 0 0 32 22.5" xml:space="preserve">
						<path class="cls-1" d="M13,0A13,13,0,1,0,26,13,13.01247,13.01247,0,0,0,13,0Zm0,24A11,11,0,1,1,24,13,11.00656,11.00656,0,0,1,13,24Z"/>
					</svg>
				<svg class="inline-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 32 22.5" enable-background="new 0 0 32 22.5" xml:space="preserve">
					<title>Mobile Menu</title>
					<rect class="bar" x="0" y="6" width="12" height="2" rx="1"></rect>>
					<rect class="bar" x="0" y="0" width="12" height="2" rx="1">
				</rect>
					<!-- needs to be here as a 'hit area' -->
		</svg>
				</span>
		</button>
		<ul id="menu">
			<li class="logo-tablet" id="menu-logo">
				<a href="/index.html">
					<img src="assets/img/logo-2.svg" width="100px" alt="">
				</a>
			</li>
			<li id="menu-Main">
				<a href="/index.html#main-page" style="">Главная</a>
			</li>
			<li id="menu-Project">
				<a href="/index.html#projects-page">
					Проекты</a>
			</li>
			<li id="menu-Company">
				<a href="/index.html#company-page">О компании</a>
			</li>
			<!-- <li id="menu-Team">
					<a href="/index.html#team-page">Коллектив</a>
				</li> -->
			<li id="menu-Contact">
				<a href="/index.html#contact-page">Контакты</a>
			</li>
			<li class="language-change language-change-tablet">
				<!--<a href="index.html?language=en" <?html /*if ($_COOKIE['language'] == "en") : */?>class="language-selected"<?html /*endif */?>> EN</a>-->
				<a href="index.html" class="language-selected">RU</a>
			</li>
		</ul>
	</div>
	<!-- End of Navigation -->

	<!-- Info -->
	<div class="info">
			<span class="slogan">Мы создаем</span>
		<h3 class="header-h3">Сайты / Приложения</h3>
		<p class=" d-xl-block">Мы разрабатываем надежные сервисы и продукты: от интернет магазинов, до крупных международных CRM систем
		</p>
		<div class="row align-items-left -mb-sm-d">
			<div class="col-auto mr-auto align-items-left mb-sm-d">
				<a href="/index.html#contact-page" class="link" id="contact-link-2">Начать
					<span class="icon" style="margin-top: -4px;">
							<svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
								<title>Shape</title>
								<desc>Created with Sketch.</desc>
								<defs></defs>
								<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
										<path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
													id="Shape"></path>
									</g>
								</g>
							</svg>
						</span>
				</a>
			</div>
		</div>
	</div>
	<!-- End of Info -->
	</div>
</header>
<div class="wrapper-opacity"></div>
<div class="wrapper-opacity-2"></div>
<!-- End of Section: Header -->
