&.tags {
	&.style-default {
		margin-bottom: -5px;
		
		a {
			border-radius: 4px;
			padding: 3px 8px;
			color: #3a2db0;
			background-color: rgba(58,45,176,.05);
		}
		
		>.link {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;
			border-radius: 4px;
			padding: 3px 8px;
			color: $color-violet;
			background-color: rgba(255,255,255,.2);
			
			&:hover {
				color: $color-violet;
				//background-color: rgba($color-violet, 0.05);
				background-color: rgba(255,255,255,.2);
			}
		}
		
		&.color-light {
			background-color: rgba($color-white, 0.05);
			color: $color-white;
			
		}
	}
}