//@@include('inc/header.html')
<!-- Section: Header -->
//@@include('inc/section-header.html')
<!-- End of Section: Header -->

<!-- Section: Main -->
<main class="section about-info main style-sections">
<!-- Section: project-info -->
<section class="section style-padding ">
        <div class="content text-center">
                <h1>Our Company</h1>
                <p>Creating a brand is making people fall in love with a company.<br>
                        That's not easy but, hey, we can do hard. But it doesn't stop there.</p>
                        <div class="row ">

                                <div class="col-sm">
                                    <div class="item">
                                        <div class="title">400+</div>
                                        <div class="description">projects</div>
                                    </div>
                                </div>
                    
                                <div class="col-sm">
                                    <div class="item">
                                        <div class="title">7.5</div>
                                        <div class="description">experience years</div>
                                        <div class="info-wave">
                                                <img src="assets/img/waves-1.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-sm">
                                    <div class="item">
                                        <div class="title">12</div>
                                        <div class="description">employees</div>
                                    </div>
                                </div>
                    
                                <div class="col-sm">
                                    <div class="item">
                                        <div class="title">12</div> 
                                        <div class="description">employees</div>
                                        <div class="info-wave">
                                                <img src="assets/img/waves-1.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
    </section>
    <!-- Section: Services -->
	<section class="section style-padding ">
            <div class="row -mb-d">
                <div class="col-md-6 mb-d">
    
                    <!-- Section: Content -->
                    <section class="section content">
                        <div class="section-title">
                            <h3>Web Sites</h3>
                        </div>
                        <div class="section-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam assumenda dicta dolores eaque expedita facilis hic illo ipsum, magnam magni maxime minus, nam nemo nisi non optio quidem sapiente.</p>
                        </div>
                        <div class="section-more">
                            <a href="#.">Services <span class="icon"><img src="assets/img/icons/icons-arrow-right-blue-small.svg" alt=""></span></a>
                        </div>
                    </section>
                    <!-- End of Section: Content -->
    
                </div>
                <div class="col-md-6 mb-d">
    
                    <!-- Section: Content -->
                    <section class="section content">
                        <div class="section-title">
                            <h3>CRM Systems</h3>
                        </div>
                        <div class="section-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque autem cupiditate deserunt doloremque facilis fugit, ratione rem temporibus voluptatem?</p>
                        </div>
                        <div class="section-more">
                            <a href="#.">Services <span class="icon"><img src="assets/img/icons/icons-arrow-right-blue-small.svg" alt=""></span></a>
                        </div>
                    </section>
                    <!-- End of Section: Content -->
    
                </div>
            </div>
        </section>
        <!-- End of Section: Services -->
        
</main>
