<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta: Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- End of Meta: Basic -->

    <!-- Meta: Mobile -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- End of Meta: Mobile -->

    <!-- Meta: Site -->
    <title>Website Batiskaf by Pool. A creation process.</title>
    <meta name="keywords" content="website, web, batiskaf, blog, pool, hidden pool">
    <meta name="description" content="A creation process the website Batiskaf by Pool. There's development corporate website, blog with news & articles. To digitize internal business processes, we made a CRM system with a mobile application.">
    <meta name="author" content="">
    <!-- End of Meta: Site -->

    <!-- Meta: Site - socials -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="HiddenPool: Batiskaf">
    <meta property="og:title" content="Website Batiskaf by Pool. A creation process.">
    <meta property="og:description" content="A creation process the website Batiskaf by Pool. There's development corporate website, blog with news & articles. To digitize internal business processes, we made a CRM system with a mobile application.">
    <meta property="og:url" content="https://hiddenpool.tech/btskf.html">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="http://example.com/img.jpg">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">
    <!-- End of Meta: Site - socials -->
    <script type="text/javascript">
        timerStart = Date.now();
    </script>
    <!-- Meta: Basic Images -->
    <meta property="og:image" content="assets/img/og-image.jpg">
    <!-- End of Meta: Basic Images -->
    <meta name="apple-mobile-web-app-title" content="HiddenPool">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/fav/favicon-16x16.png">
    <link rel="manifest" href="assets/img/fav/site.webmanifest">
    <link rel="mask-icon" href="assets/img/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/main.min.css?v=1.0">
    <style>
		body {font-family:  'Azo Sans', sans-serif;}	
	</style>
    <!-- End of Styles -->

    <!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <!-- Meta: Mobile Bar Color -->
    <meta name="theme-color" content="#3A2DB0">
    <meta name="msapplication-navbutton-color" content="#2729FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2729FF">
    <!-- End of Meta: Mobile Bar Color -->
    <meta name="yandex-tableau-widget" content="logo=http://hiddenpool.tech/assets/img/tableau-logo.png, color=#3A2DB0" />

</head>

<body>
    <div id="preloader">
	 <div class="preloader-wrapper">
		<span class="preloader_letter letter_p"> 
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.75 66.18">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>p</title>
			<path class="cls-1" d="M272,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.1,20.1,31.62,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27A32.92,32.92,0,0,1,292,657.15l-3.48-1.48V686h-8.21a8.27,8.27,0,0,1-8.27-8.27V628.09Z" transform="translate(-272 -619.82)"/>
			</svg>
		</span>
		<span class="preloader_letter letter_o">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.76 38.77">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>o</title>
			<path class="cls-1" d="M351.68,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.11,20.11,31.63,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27C416,668.86,356,668.65,351.68,628.09Z" transform="translate(-351.68 -619.82)"/>
			</svg>
		</span>
		<span class="preloader_letter letter_o_2">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.76 38.77">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>o</title>
			<path class="cls-1" d="M351.68,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.11,20.11,31.63,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27C416,668.86,356,668.65,351.68,628.09Z" transform="translate(-351.68 -619.82)"/>
			</svg>
		</span>
		<span class="preloader_letter letter_l">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.49 66.18">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>l</title>
			<path class="cls-1" d="M511,595h8.16a8.34,8.34,0,0,1,8.32,8.35v57.83h-8.16a8.34,8.34,0,0,1-8.32-8.35V595Z" transform="translate(-511.03 -595)"/>
			</svg>
		</span>
	 </div>
	</div>
    <div class="section general-wrapper">

        //@@include('inc/section-header.html')

        <!-- Section: Main -->
        <main class="section main style-sections full-project">
            <!-- Section: project-info -->
            <section class="section title-section ">
                <div class="content">
                    <div class="row title-row">
                        <div class="col-5 col-md-5 col-sm-12">
                            <a class="bold link-back" href="/index.html#projects-page">
                                <span class="icon">
                                    <svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                        <title>Shape</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
                                                <path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
                                                    id="Shape"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span> Go to Back </a>
                            <div class="ui tags style-default   ">
                                <a href="#" tabindex="0"> Web site </a>
                            </div>
                            <div class="feature-description">
                                <h1>Klein Bottle</h1>

                
                                <p> It is the first popular science magazine of the Khabarovsk territory and the Far East in General.
                                    <br>
                                    <br> The magazine has an adaptive design that adapts to any device from the phone and tablets to the retina monitor. <br>
                                    <br> The system always tries to give the content to the user that he really needs based on his preference s and history of visits.
                                </p>
                                <p class="text-violet">Launch: In Developing
                                </p>

                            </div>
                            <div class="project-advantages">
                                <div class="advantage">
                                    <div class="advantage-title">600+
                                    </div>
                                    <p>articles in the database</p>
                                </div>
                                <div class="advantage">
                                    <div class="advantage-title">100 +</div>
                                    <p>unique graphic elements</p>
                                </div>
                            </div>
                           
                                <a class="bold link-project link " href="https://www.behance.net/gallery/72296757/Journal-Klein-Bottle" target="blamk">Bechance
                                    <span class="icon">
                                        <svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                            <title>Shape</title>
                                            <desc>Created with Sketch.</desc>
                                            <defs></defs>
                                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
                                                    <path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
                                                        id="Shape"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </a>

                        </div>
                        <div class="col-6 col-md-6 offset-1 col-sm-12">
                            <div class="project-image">
                                <img src="assets/img/bottle-project.jpg" alt="">
                            </div>
                        </div>

                    </div>


            </section>

            <section class="section discription-section discription-section-1">
                <div class="hidden-number">01</div>
                <div class="content">
                    <div class="row justify-content-center ">
                        <div class="col-7 col-md-7 col-sm-12 module bottle-flex-comtainer">
                            <h2 class="text-center">Science Magazine
                            </h3>
                                <p class="text-center">An extensive database of scientific articles, news and notes will acquaint you with the distinctive world of the Far East. A friendly community has already formed around the magazine, which is always happy to welcome new people.</p>
                                <div class=" bottle-quote text-center"><p class="subtitle" style="margin-bottom: 5px;">“Science is the best way to make the human spirit heroic”</p> <span class="quote-autor" >- Giordano Bruno </span></div>
                               
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 col-md-10 col-sm-12 offset-1 btskf-corporate-image module shadow" style="border-radius: 10px;">
                            <div style="border-radius: 10px;">
                                <img src="assets/img/bottle-main-page.jpg" alt="" style="border-radius: 10px;">

                            </div>

                        </div>
                    </div>
                    <div class="row  btskf-mb-row">
                        <div class="col-6 col-md-6 col-sm-12  module">
                            <div class="feature-description">
                                <h3>Main page</h3>
                                <p class="no-mb"> Content is the main focus point in this project. Therefore, all the blocks are maximally readable and understandable. Quote of the day, popular articles, brainstorming and other blocks is presented  above…
                                </p>
                            </div>
                        </div>
                        <div class="col-5 col-md-5 col-sm-12  offset-1 module">
                            <div class="feature-description">
                                <h3>Daily updates</h3>
                                <p class="no-mb">Whether in the trend. The world of science does not stand still, and the daily news will help you stay up to date with the event. We even calculated the time to read the article so that you could choose only those articles that are convenient for you.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


            </section>

            <section class="section discription-section discription-section-2 ">
                <div class="hidden-number">02</div>
                <div class="content">
                    <div class="row justify-content-center ">
                        <div class="col-6  col-md-6 col-sm-12  module">
                            <h2 class="text-center">The Article Page</h3>
                                <p class="text-center">For convenience, each article has a time reading indicator, as well as reading progress, located at the top. The user can like the article or just share it with friends.</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-10 col-md-10  col-sm-12 offset-1 module bottle-article-page">
                            <img src="assets/img/bottle-article-page.png" alt="">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 col-md-6 col-sm-12  module">
                            <div class="feature-description">
                                <h3>Many Options</h3>
                                <p class="no-mb">Articles have many different variations of layout with the insertion of photos, video resources, user surveys and other interactive objects. What allows the author to more accurately convey information to readers.
                                </p>
                            </div>
                        </div>
                        <div class="col-5 offset-1 col-md-5 col-sm-12  module">
                            <div class="feature-description">
                                <h3>Really Popular</h3>
                                <p class="no-mb">All articles are assigned to authors who have a national rating. This rating is formed by readers, respectively, this is the most transparent indicator. Due to this, all the content on the site is of high quality. And the reader learns only proven and useful information.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
            <section class="section discription-section discription-section-3 ">
                <div class="hidden-number">03</div>
                <div class="content">
                    <div class="row justify-content-center ">
                        <div class="col-6 module col-md-6 col-sm-12  ">
                            <h2 class="text-center">Ask Uncle Klein</h3>
                                <p class="text-center">Klein Bottle is not just a magazine — it is a huge community of benevolent and understanding people. And they are always ready to help with your questions.</p>
                        </div>
                    </div>
                	<div class="row ">
						<div class="col-5 col-md-5 col-sm-12 module " style="border-radius: 10px;">
							<div class="rap-home-image shadow" style="border-radius: 10px;">
								<img src="assets/img/bottle-question.jpg" alt="" style="border-radius: 10px;">
							</div>

						</div>
						<div class="col-6 offset-1 col-md-6 col-sm-12  module">
							<div class="feature-description">
								<h3>Question Form</h3>
								<p>For better interaction with readers, a system of live appeals to the administration of the journal was created. The Manager is sure to answer the user by email, ask a question, and quench his thirst for information! In this way a dowry, a friendly and educated community is formed around the magazine. Which, following the example of Uncle Klein, will always be ready to help his neighbor.</p>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-6 col-sm-12 col-md-6 module mobile-order-less">
							<div class="feature-description">
								<h3 class="no-pad">Answer Form</h3>
								<p>You can be sure that Uncle Klein will receive each of the questions asked to him. And the answer to you as soon as possible and with verified information. Because the magazine Klein bottle appreciates every reader! In the meantime, experts are looking for an answer to your question, you can read other interesting articles on the magazine's website.</p>
								<span class="span-mb">&nbsp;</span>
							</div>
						</div>
						<div class="col-5 offset-1 col-md-5 col-sm-12   module mobile-order-more" style="border-radius: 10px;">
							<div class="rap-home-image shadow" style="border-radius: 10px;">
								<img src="assets/img/bottle-answer.jpg" alt="" style="border-radius: 10px;">
							</div>

						</div>
					</div>   
                

                </div>



            </section>
            <div class="link-wrapper">
                <a class="bold link-forward text-center link" href="/btskf.html">Next Work: Batiskaf
                    <span class="icon">
                        <svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                            <title>Shape</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
                                    <path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
                                        id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </a>
            </div>

            <!-- End of Section: project-info -->


        </main>
        <!-- End of Section: Main -->

        //@@include('inc/footer.html')
