<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Meta: Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- End of Meta: Basic -->

		<!-- Meta: Mobile -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- End of Meta: Mobile -->

		<!-- Meta: Site -->
		<title>Website Batiskaf by Pool. A creation process.</title>
		<meta name="keywords" content="website, web, batiskaf, blog, pool, hidden pool">
		<meta name="description" content="A creation process the website Batiskaf by Pool. There's development corporate website, blog with news & articles. To digitize internal business processes, we made a CRM system with a mobile application.">
		<meta name="author" content="">
		<!-- End of Meta: Site -->

		<!-- Meta: Site - socials -->
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="HiddenPool: Batiskaf">
		<meta property="og:title" content="Website Batiskaf by Pool. A creation process.">
		<meta property="og:description" content="A creation process the website Batiskaf by Pool. There's development corporate website, blog with news & articles. To digitize internal business processes, we made a CRM system with a mobile application.">
		<meta property="og:url" content="https://hiddenpool.tech/btskf.html">
		<meta property="og:locale" content="ru_RU">
		<meta property="og:image" content="http://example.com/img.jpg">
		<meta property="og:image:width" content="968">
		<meta property="og:image:height" content="504">
		<!-- End of Meta: Site - socials -->
		<script type="text/javascript">
			timerStart = Date.now();
		</script>
		<!-- Meta: Basic Images -->
		<meta property="og:image" content="assets/img/og-image.jpg">
		<!-- End of Meta: Basic Images -->
		<meta name="apple-mobile-web-app-title" content="HiddenPool">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/fav/favicon-16x16.png">
		<link rel="manifest" href="assets/img/fav/site.webmanifest">
		<link rel="mask-icon" href="assets/img/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/main.min.css?v=1.0">
		<style>
			body {
				font-family: 'Azo Sans', sans-serif;
			}
		</style>
		<!-- End of Styles -->

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Meta: Mobile Bar Color -->
		<meta name="theme-color" content="#3A2DB0">
		<meta name="msapplication-navbutton-color" content="#2729FF">
		<meta name="apple-mobile-web-app-status-bar-style" content="#2729FF">
		<!-- End of Meta: Mobile Bar Color -->
		<meta name="yandex-tableau-widget" content="logo=http://hiddenpool.tech/assets/img/tableau-logo.png, color=#3A2DB0"/>

	</head>

	<body>
		<div id="preloader">
			<div class="preloader-wrapper">
		<span class="preloader_letter letter_p"> 
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.75 66.18">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>p</title>
			<path class="cls-1" d="M272,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.1,20.1,31.62,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27A32.92,32.92,0,0,1,292,657.15l-3.48-1.48V686h-8.21a8.27,8.27,0,0,1-8.27-8.27V628.09Z" transform="translate(-272 -619.82)"/>
			</svg>
		</span>
				<span class="preloader_letter letter_o">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.76 38.77">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>o</title>
			<path class="cls-1" d="M351.68,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.11,20.11,31.63,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27C416,668.86,356,668.65,351.68,628.09Z" transform="translate(-351.68 -619.82)"/>
			</svg>
		</span>
				<span class="preloader_letter letter_o_2">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.76 38.77">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>o</title>
			<path class="cls-1" d="M351.68,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.11,20.11,31.63,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27C416,668.86,356,668.65,351.68,628.09Z" transform="translate(-351.68 -619.82)"/>
			</svg>
		</span>
				<span class="preloader_letter letter_l">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.49 66.18">
			<defs>
				<style>
				.cls-1 {
					fill: #fff;
				}
				</style>
			</defs>
			<title>l</title>
			<path class="cls-1" d="M511,595h8.16a8.34,8.34,0,0,1,8.32,8.35v57.83h-8.16a8.34,8.34,0,0,1-8.32-8.35V595Z" transform="translate(-511.03 -595)"/>
			</svg>
		</span>
			</div>
		</div>
		<div class="section general-wrapper">

			//@@include('inc/section-header.html')

			<!-- Section: Main -->
			<main class="section main style-sections full-project">
				<!-- Section: project-info -->
				<section class="section title-section ">
					<div class="content">
						<div class="row title-row">
							<div class="col-5 col-md-5 col-sm-12">
								<a class="bold link-back" href="/index.html#projects-page">
                                <span class="icon">
                                    <svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                        <title>Shape</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
                                                <path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
																											id="Shape"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span> Go to Back </a>
								<div class="ui tags style-default   ">
									<a href="#" tabindex="0"> Web site </a>
								</div>
								<div class="feature-description">
									<h1>Batiskaf</h1>
									<p> A large regional company for legal and accounting issues asked us for a redesign of its entire
										infrastructure.
										<br>
										<br> We developed a corporate website, blog with news & articles and made a CRM system with
										mobile application to digitize internal business processes.
									</p>
									<p class="text-violet">Launch: 10 August 2018
									</p>

								</div>
								<div class="project-advantages">
									<div class="advantage">
										<div class="advantage-title">300+
										</div>
										<p>articles in the database</p>
									</div>
									<div class="advantage">
										<div class="advantage-title">1.5K+</div>
										<p>clients per month</p>
									</div>
								</div>
								<a class="bold link-project link " href="https://blog.btskf.ru/" target="blamk">Go to Batiskaf.Blog
									<span class="icon">
                                    <svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                        <title>Shape</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
                                                <path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
																											id="Shape"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
								</a>

							</div>
							<div class="col-6 col-md-6 offset-1 col-sm-12">
								<div class="project-image">
									<img src="assets/img/btskf-project.jpg" alt="">
								</div>
							</div>

						</div>


				</section>

				<section class="section discription-section discription-section-1">
					<div class="hidden-number">01</div>
					<div class="content">
						<div class="row justify-content-center ">
							<div class="col-6 col-md-6 col-sm-12 module">
								<h3 class="text-center">Corporate Site</h3>
									<p class="text-center">Batiskaf’s job is to protect clients from legal, personnel and accounting problems and to
										help them focus on their business.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-10 col-md-10 col-sm-12 offset-1 btskf-corporate-image module">
								<div>
									<img src="assets/img/btskf-corporate.png" alt="">

								</div>

							</div>
						</div>
						<div class="row  btskf-mb-row">
							<div class="col-6 col-md-6 col-sm-12  module">
								<div class="feature-description">
									<h3>Home</h3>
									<p class="no-mb"> Home page as well as the others made in Batiskaf corporate style using green colors and geometric
										shapes. To increase trust, real photos of employees and their work process have beenposted
										on the site.
										<br>
										<br> The page containspromotions, reviews, real clients of the company and describesservices
										rendered in several areas of activity. For every page unique graphics with metaphors
										and real situations have been created.
									</p>
								</div>
							</div>
							<div class="col-5 col-md-5 col-sm-12  offset-1 module">
								<div class="feature-description">
									<h3>Services</h3>
									<p class="no-mb">Batiskaf works in three areas: legal services, accounting and personnel. All the work to
										support your company business is carried out remotely. The company has a large network
										of branches located throughout the Far East of the Russian Federation. The motto of the
										company is «You do business — we solve problems».
									</p>
								</div>

							</div>
						</div>
					</div>


				</section>

				<section class="section discription-section discription-section-2 ">
					<div class="hidden-number">02</div>
					<div class="content">
						<div class="row justify-content-center ">
							<div class="col-6  col-md-6 col-sm-12  module">
								<h3 class="text-center">Blog</h3>
									<p class="text-center">Batiskaf leads his blog, which explains the nuances and news of accounting, lawsuits and
										personnel problems of business owners</p>
							</div>
						</div>
						<div class="row ">
							<div class="col-10 col-md-10  col-sm-12 offset-1 module">
								<img src="assets/img/btskf-blog.png" alt="">
							</div>
						</div>
						<div class="row ">
							<div class="col-6 col-md-6 col-sm-12  module">
								<div class="feature-description">
									<h3>Article</h3>
									<p class="no-mb">For more convenience, articles were divided into categories where separate search can be
										used. Every article has tags, author, and reading time expressed in minutes.
										<br>
										<br> Many different article layout widgets, such as quote, thesis, display unit, image gallery,
										video etc. have been developed for simplifying the reading of long texts or interviews.
									</p>
								</div>
							</div>
							<div class="col-5 offset-1 col-md-5 col-sm-12  module">
								<div class="feature-description">
									<h3>Subscription</h3>
									<p class="no-mb">To increase client audience email subscription usingcapture form was developed. Every week
										Batiskaf team shares unique content with its subscribers, where they tell about their
										positive and negative experiences in solving various problems they face every day. Mailing
										is the main feature of the site.
									</p>
								</div>
							</div>
						</div>
					</div>


				</section>
				<section class="section discription-section discription-section-3 ">
					<div class="hidden-number">03</div>
					<div class="content">
						<div class="row justify-content-center ">
							<div class="col-6 module col-md-6 col-sm-12  ">
								<h3 class="text-center">Batiskaf’s Digits</h3>
								<p class="text-center">Batiskaf not only takes care of the daily paper routine, but helps its clients execute transactions
									and select employees in more competent ways.</p>
							</div>
						</div>
						<div class="row btskf-digits">

							<div class="col-xxl col-md-5 shadow  item-digit item-clients text-center module">
								<div class="item">
									<div class="left-bot">
										<img src="assets/img/batiskaf-item/left-bot-green.svg" height="28px" alt="">
									</div>
									<div class="right-top">
										<img src="assets/img/batiskaf-item/right-top-green.svg" height="28px" alt="">
									</div>
									<div class="item-logo">
										<img src="assets/img/icons/btskf-clients.svg" height="80px" alt="">
									</div>
									<h3>6,5 mln ₽</h3>
									<div class="description">Saved by our clients on administrative fines</div>
								</div>
							</div>

							<div class="col-xxl col-md-5 shadow item-digit item-tax text-center module">
								<div class="item">
									<div class="left-top">
										<img src="assets/img/batiskaf-item/left-top-white.svg" height="28px" alt="">
									</div>
									<div class="right-bot">
										<img src="assets/img/batiskaf-item/right-bot-white.svg" height="28px" alt="">
									</div>
									<div class="item-logo">
										<img src="assets/img/icons/btskf-tax.svg" height="80px" alt="">
									</div>
									<h3>73,5 mln ₽</h3>
									<div class="description">Saved by our clients on tax optimization</div>

								</div>
							</div>

							<div class="col-xxl col-md-5 shadow item-digit item-transaction text-center module">
								<div class="item">
									<div class="left-bot">
										<img src="assets/img/batiskaf-item/left-bot-white.svg" height="28px" alt="">
									</div>
									<div class="right-top">
										<img src="assets/img/batiskaf-item/right-top-white.svg" height="28px" alt="">
									</div>
									<div class="item-logo">
										<img src="assets/img/icons/btskf-transaction.svg" height="80px" alt="">
									</div>
									<h3>315 mln ₽</h3>
									<div class="description">Processed in accounting transactions</div>
								</div>
							</div>

							<div class="col-xxl col-md-5 shadow item-digit item-cities text-center module">
								<div class="item">
									<div class="left-top">
										<img src="assets/img/batiskaf-item/left-top-green.svg" height="28px" alt="">
									</div>
									<div class="right-bot">
										<img src="assets/img/batiskaf-item/right-bot-green.svg" height="28px" alt="">
									</div>
									<div class="item-logo">
										<img src="assets/img/icons/btskf-cities.svg" height="80px" alt="">
									</div>
									<h3>6 cities</h3>
									<div class="description">Our presence</div>
								</div>
							</div>
						</div>
						<div class="row btskf-digits justify-content-center">
							<div class="btskf-end-text text-center col-6 col-md-8 col-sm-12  module">
								<div class="text">
									<p>Not every firm can afford a high level lawyer in the state. Batiskaf professionally solve legal
										<br> issues of your business when needed.</p>
								</div>
								<div class="btskf-shield">
									<img src="assets/img/batiskaf-item/btskf-shield.png" alt="">
								</div>
							</div>
						</div>

					</div>


				</section>
				<div class="link-wrapper">
					<a class="bold link-forward text-center link" href="/rap.html">Next Work: Rap.Ru
						<span class="icon">
                        <svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                            <title>Shape</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
                                    <path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
																					id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
					</a>
				</div>

				<!-- End of Section: project-info -->


			</main>
			<!-- End of Section: Main -->


			//@@include('inc/footer.html')
