<!DOCTYPE html>
<html lang="ru">
	<head>

		<!-- Meta: Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- End of Meta: Basic -->

		<!-- Meta: Mobile -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- End of Meta: Mobile -->

		<!-- Meta: Site -->
		<title>Сайт Rap.Ru от Pool. Процесс создания.</title>
		<meta name="keywords" content="сайт, веб, рэп, rapru, pool, hidden pool">
		<meta name="description" content="Rap.Ru - процесс создания. Это самый большой и уважаемый ресурс в русскоязычном интернете, посвященный хип-хоп культуре.">
		<meta name="author" content="">
		<!-- End of Meta: Site -->

		<!-- Meta: Site - socials -->
		<meta property="og:type" content="сайт">
		<meta property="og:site_name" content="HiddenPool: Rap.Ru">
		<meta property="og:title" content="Сайт Rap.Ru от Pool. Процесс создания.">
		<meta property="og:description" content="Rap.Ru - процесс создания. Это самый большой и уважаемый ресурс в русскоязычном интернете, посвященный хип-хоп культуре.">
		<meta property="og:url" content="https://hiddenpool.tech/rap.html">
		<meta property="og:locale" content="ru_RU">
		<meta property="og:image" content="http://example.com/img.jpg">
		<meta property="og:image:width" content="968">
		<meta property="og:image:height" content="504">
		<!-- End of Meta: Site - socials -->
		<script type="text/javascript">
			timerStart = Date.now();
		</script>
		<!-- Meta: Basic Images -->
		<meta property="og:image" content="assets/img/og-image.jpg">
		<!-- End of Meta: Basic Images -->
		<meta name="apple-mobile-web-app-title" content="HiddenPool">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/fav/favicon-16x16.png">
		<link rel="manifest" href="assets/img/fav/site.webmanifest">
		<link rel="mask-icon" href="assets/img/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<!-- Styles -->
		<link rel="stylesheet" href="assets/css/main.min.css?v=1.0">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
		<style>
			body {
				font-family: 'Ubuntu', sans-serif;
			}
		</style>
		<!-- End of Styles -->

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Meta: Mobile Bar Color -->
		<meta name="theme-color" content="#3A2DB0">
		<meta name="msapplication-navbutton-color" content="#2729FF">
		<meta name="apple-mobile-web-app-status-bar-style" content="#2729FF">
		<!-- End of Meta: Mobile Bar Color -->
		<meta name="yandex-tableau-widget" content="logo=http://hiddenpool.tech/assets/img/tableau-logo.png, color=#3A2DB0"/>
	</head>
	<body>

		<div id="preloader">
			<div class="preloader-wrapper">
		<span class="preloader_letter letter_p"> 
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.75 66.18">
			<defs>
				<style>
				.cls-1 {
					fill: #FFFFFF;
				}
				</style>
			</defs>
			<title>p</title>
			<path class="cls-1" d="M272,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.1,20.1,31.62,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27A32.92,32.92,0,0,1,292,657.15l-3.48-1.48V686h-8.21a8.27,8.27,0,0,1-8.27-8.27V628.09Z" transform="translate(-272 -619.82)"/>
			</svg>
		</span>
				<span class="preloader_letter letter_o">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.76 38.77">
			<defs>
				<style>
				.cls-1 {
					fill: #FFFFFF;
				}
				</style>
			</defs>
			<title>o</title>
			<path class="cls-1" d="M351.68,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.11,20.11,31.63,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27C416,668.86,356,668.65,351.68,628.09Z" transform="translate(-351.68 -619.82)"/>
			</svg>
		</span>
				<span class="preloader_letter letter_o_2">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.76 38.77">
			<defs>
				<style>
				.cls-1 {
					fill: #FFFFFF;
				}
				</style>
			</defs>
			<title>o</title>
			<path class="cls-1" d="M351.68,628.09v-8.27h8.21a8.27,8.27,0,0,1,8.27,8.27c2.11,20.11,31.63,20.17,33,0v-8.27h8.21a8.09,8.09,0,0,1,8.09,8.27C416,668.86,356,668.65,351.68,628.09Z" transform="translate(-351.68 -619.82)"/>
			</svg>
		</span>
				<span class="preloader_letter letter_l">
			<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.49 66.18">
			<defs>
				<style>
				.cls-1 {
					fill: #FFFFFF;
				}
				</style>
			</defs>
			<title>l</title>
			<path class="cls-1" d="M511,595h8.16a8.34,8.34,0,0,1,8.32,8.35v57.83h-8.16a8.34,8.34,0,0,1-8.32-8.35V595Z" transform="translate(-511.03 -595)"/>
			</svg>
		</span>
			</div>
		</div>
		<div class="section general-wrapper">
			//@@include('inc/section-header.html')
			<!-- Section: Main -->
			<main class="section main style-sections full-project">
				<!-- Section: project-info -->
				<section class="section title-section ">
					<div class="content">
						<div class="row title-row  ">
							<div class="col-5 col-md-5 col-sm-12  ">
								<a class="bold link-back" href="/index.html#projects-page">
								<span class="icon">
									<svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
										<title>Shape</title>
										<desc>Created with Sketch.</desc>
										<defs></defs>
										<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
												<path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
															id="Shape"></path>
											</g>
										</g>
									</svg>
								</span> Назад </a>
								<div class="ui tags style-default   ">
									<a href="#" tabindex="0"> Сайт </a>
								</div>
								<div class="feature-description">
									<h1>Rap.ru</h1>
									<p>Это самый большой и уважаемый ресурс в русскоязычном интернете, посвященный хип-хоп культуре.
										<br>
										<br> К нашей компании обратился владелец сайта с целью редизайна, так как первая версия была запущена в 2004 году.
									</p>
									<p class="text-violet">Запуск: 13 Октября 2018</p>
								</div>
								<div class="project-advantages">
									<div class="advantage">
										<div class="advantage-title" style="font-size: 3rem">400K+
										</div>
										<p>Просмотров в месяц</p>
									</div>
									<div class="advantage">
										<div class="advantage-title" style="font-size: 3rem">1.5M+</div>
										<p>Элементов в базе</p>
									</div>
								</div>
								<a class="bold link-project link" href="http://rap.ru" target="blank">Прейти на Rap.Ru
									<span class="icon">
									<svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
										<title>Shape</title>
										<desc>Created with Sketch.</desc>
										<defs></defs>
										<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
												<path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
															id="Shape"></path>
											</g>
										</g>
									</svg>
								</span>
								</a>

							</div>
							<div class="col-6 offset-1 col-md-6 col-sm-12  ">
								<div class="project-image">
									<img src="assets/img/project-rap.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section discription-section ">
					<div class="hidden-number">01</div>
					<div class="content">
						<div class="row justify-content-center module ">
							<div class="col-6 col-md-6 col-sm-12 ">
								<h3 class="text-center">Больше чем сайт</h3>
								<p class="text-center">Будь в тренде вместе с нами и следи за музыкальной тусовкой и любимыми исполнителями. Мы крупнейшее хип-хоп сообщество России.</p>
							</div>
						</div>
						<div class="row ">
							<div class="col-5 col-md-5 col-sm-12 module ">
								<div class="rap-home-image shadow">
									<img src="assets/img/rap-home-image.jpg" alt="">
								</div>
							</div>
							<div class="col-6 offset-1 col-md-6 col-sm-12  module">
								<div class="feature-description">
									<h3 class="no-pad">Главная</h3>
									<p>Чтобы подчеркнуть основные события, сверху был расположен слайдер. На главной странице отображены новости, видео, истории. В отдельном разделе идут скандалы, противостояния, батлы. В нижней части страницы была создана форма подписки для вовлечения аудитории в эту атмосферу.</p>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6 col-sm-12 col-md-6 module mobile-order-less">
								<div class="feature-description">
									<h3 class="no-pad">Дискография</h3>
									<p>Для меломанов мы подготовили уникальный функционал в виде дискографии. Для каждого альбома создается отдельная страница с описанием и с интеграцией ВК в виде песни.</p>
									<span class="span-mb">&nbsp;</span>
								</div>
							</div>
							<div class="col-5 offset-1 col-md-5 col-sm-12   module mobile-order-more">
								<div class="rap-home-image shadow">
									<img src="assets/img/rap-disco-image.jpg" alt="image">
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-5 col-md-5 col-sm-12   module">
								<div class="rap-home-image shadow">
									<img src="assets/img/rap-artist-image.jpg" alt="image">
								</div>
							</div>
							<div class="col-6 offset-1 col-md-6  col-sm-12   module">
								<div class="feature-description">
									<h3 class="no-pad">Исполнители</h3>
									<p class="no-mb">Для любителей историй и биографий мы сделали отдельные страницы для исполнителей. На этих страницах пользователь сможет узнать основную информацию о своем любимом исполнителе, посмотреть фотографии и краткую историю.</p>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-6 module col-sm-12  col-md-6 mobile-order-less ">
								<div class="feature-description">
									<h3 class="no-pad">Концерты</h3>
									<p>Благодаря тому, что этот ресурс имеет большой вес в медиа пространстве, был создан функционал с концертами. Концерты содержат информацию о месте, исполнителях и времени.</p>
									<span class="span-mb">&nbsp;</span>
								</div>
							</div>
							<div class="col-5 offset-1 col-sm-12  col-md-5  module mobile-order-more">
								<div class="rap-concert-image shadow">
									<img src="assets/img/rap-home-image.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="row end-title-row module col-sm-12">
							<div class="col-12 text-center ">
								<div class="hidden-number-end-wrapper">
									<div class="hidden-number-end" style="font-size: 7rem">02</div>
								</div>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M24 9.25L16.5147 14.9444L19.0796 23.8889L12.0916 18.4444L4.78953 24L7.48528 14.9167L0 9.25H9.00327L11.8561 0L14.8135 9.25H24Z"
												fill="white"/>
								</svg>
								<h2>Цитата Клиента</h2>
								<p>«Это не просто новости, статьи, биографии и текста. Это
									<br>тусовка, социальная сеть для музыкальных маньяков,
									<br>таких же как мы.»</p>
								<p class="title-name">Марк</p>
								<p class="subtitle">CEO Rap.Ru</p>
							</div>
						</div>
					</div>
				</section>
				<div class="link-wrapper">
					<a class="bold link-forward link text-center" href="/istok_ru.html">Cледующий проект: Исток
						<span class="icon">
						<svg width="18px" height="8px" viewBox="0 0 18 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
							<title>Shape</title>
							<desc>Created with Sketch.</desc>
							<defs></defs>
							<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="left-side/VXL" transform="translate(-160.000000, -952.000000)" fill="#3A2DB0" fill-rule="nonzero">
									<path d="M177.897245,955.732374 L173.897003,952.086174 C173.785861,951.995902 173.664356,951.978534 173.532379,952.034105 C173.400548,952.089749 173.334359,952.190383 173.334359,952.336298 L173.334359,954.669846 L160.333354,954.669846 C160.236077,954.669846 160.156168,954.701043 160.093737,954.763547 C160.031343,954.826014 160,954.905922 160,955.003126 L160,957.003247 C160,957.100415 160.031197,957.180323 160.093701,957.242717 C160.156278,957.305185 160.236186,957.336382 160.333317,957.336382 L173.334432,957.336382 L173.334432,959.669893 C173.334432,959.808985 173.400731,959.909618 173.532489,959.97194 C173.664575,960.02773 173.78608,960.00664 173.897222,959.909618 L177.897464,956.22153 C177.9669,956.15213 178.001527,956.068938 178.001527,955.971625 C178.001527,955.881573 177.966681,955.80181 177.897245,955.732374 Z"
												id="Shape"></path>
								</g>
							</g>
						</svg>
					</span>
					</a>
				</div>
				<!-- End of Section: project-info -->
			</main>
			<!-- End of Section: Main -->
			//@@include('inc/footer.html')
